%button {
  width: 100%;
  font: inherit;
  outline: none;
  border: none;
  color: $light-text-color;
  background-color: $secondary-color;
  border-radius: 16px;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $hover-color;
    box-shadow: none !important;
  }

  &:active {
    background-color: $active-color;
    border-color: $active-color;
  }
}

%hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

%label {
  margin-bottom: 8px !important;
  @include font(700, 16px, 1.25, _);

  @include for-size(tablet) {
    margin-bottom: 12px !important;
    @include font(700, 18px, 1.22, _);
  }
}

%input {
  padding: 15px 18px;
  color: $primary-text-color;
  @include font(400, 16px, 1.25, _);
  border-radius: 16px;
  border: 1px solid $primary-border-color;
  transition: border 250ms $timing-function;

  @include for-size(tablet) {
    padding: 24px 25px;
    @include font(400, 18px, 1.22, _);
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $border-active-color;
    color: $primary-text-color;
  }

  &::placeholder {
    transition: color 250ms $timing-function;
  }

  &:hover::placeholder {
    color: $primary-border-color;
  }
}

%error {
  margin-top: 12px !important;
}

%error__message {
  @include font(400, 16px, 1.25, _);
  color: $error-color;
}

%label__wrapper {
  margin-top: 20px !important;

  @include for-size(tablet) {
    margin-top: 30px !important;
  }
}
