//? Colors

$primary-text-color: #5b5b5b;
$light-text-color: #ffffff;

$primary-border-color: #c1c1c1;
$border-active-color: #87d78b;

$secondary-color: #3c9c41;
$hover-color: #4db252;
$active-color: #318636;

$error-color: #d23737;

$box-shadow-color: rgba(0, 0, 0, 0.05);

//?Transitions
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//?Fonts

$main-font: "Montserrat", sans-serif; ;
