@import 'styles/shared';

form .login__button {
  @extend %button;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 15px 121px;
  @include font(400, 16px, 1.25, _);

  @include for-size(tablet) {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 24px 213px;
    @include font(400, 18px, 1.22, _);
  }
}
